@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

:root {
  --bs-font-sans-serif: 'Rajdhani', sans-serif !important;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  background: #F8F8FB !important;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn,
input,
textarea {
  font-weight: 600 !important;
}

input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}

@media (min-width: 1200px) {

  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 900px !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}